.product-new {
	width: 95%;
	// display: flex;
	margin: auto;
	.top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		h1 {
			text-align: center;
		}
	}

	.product-item {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 20px;
	}
}
