.content {
	padding-top: 55px;
	width: 100%;
	height: auto;
	// height: 100px;
	// .slider {
	// 	width: 70%;
	// 	height: 100%;
	// }
	margin-bottom: 20px;
}
.Toastify__toast-container--top-right {
	top: 3rem;
	right: 0;
}
