.soccerShoes {
	width: 95%;
	margin: 55px auto;
	h1 {
		text-align: center;
		padding: 30px 0;
	}
	.container {
		display: flex;
		width: 100%;
		.filter {
			width: 30%;
			.filter {
				width: 100%;
			}
		}
		.items {
			width: 70%;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
			gap: 20px;
		}
	}
}
