.soccerShoes {
	width: 95%;
	margin: 55px auto;
	.top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		select {
			min-width: 30px;
		}
		h1 {
			text-align: center;
			padding: 30px 0;
		}
	}
	.container {
		display: flex;
		width: 100%;
		.filter-soccerShoes {
			width: 20%;
			.filter {
				width: 100%;
			}
		}
		.items {
			width: 80%;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
			gap: 20px;
		}
	}
}
@media only screen and (max-width: 600px) {
	.soccerShoes {
		.top {
			h1 {
				padding: 0;
			}
		}
		.container {
			display: block;
			.filter-soccerShoes {
				margin-bottom: 10px;
				width: 100%;
				.filter {
					width: 100%;
					display: flex;
					justify-content: space-between;
					h4 {
						margin-bottom: 3px;
					}
				}
			}
			.items {
				grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
				gap: 10px;
				width: 100%;
				.product-general {
					border: 1px solid #ccc;
					border-radius: 5px;
					.item {
						.title {
							padding: 3px;
							h3 {
								margin: 5px 0;
								font-size: 13px;
							}
							p {
								font-size: 11px;
								height: 65px;
							}
							.price {
								display: flex;
								flex-direction: column;
								margin: 0;
								.cost {
									padding: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
	.soccerShoes {
		.container {
			display: block;
			.filter-soccerShoes {
				margin-bottom: 10px;
				width: 100%;
				.filter {
					width: 100%;
					display: flex;
					justify-content: left;
					gap: 30px;
					h4 {
						margin-bottom: 3px;
					}
				}
			}
			.items {
				grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
				gap: 20px;
				width: 100%;
				.product-general {
				}
			}
		}
	}
}
