.admin {
	.top {
	}

	.container {
		display: flex;
		height: 100vh;
		.sidebar {
			width: 30%;
			.sidebar {
				width: 100%;
				.sidebar-wrapper {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
				}
			}
		}
		.content-admin {
			width: 70%;
			background: white;
			// padding-left: 20px;
		}
	}
}
