.footer {
	width: 100%;
	padding: 100px 0;
	background-color: #ccc;
	margin-top: 20px;
	ul {
		list-style: none;
		padding: 0;
	}
	.footer-wrapper {
		ul.title {
			width: 80%;
			display: flex;
			margin: auto;
			justify-content: space-between;
			.left {
				flex: 1;
				img {
					width: 100px;
					height: 100px;
				}
			}
			.right {
				flex: 4;

				ul.right-title {
					display: flex;
					justify-content: space-between;
					li {
						h3 {
							font-weight: bold;
						}
					}
					// .category {
					// }
					// .contact {
					// }
					// .rules {
					// }
				}
			}
		}
	}
}
