.cart {
	width: 90%;
	margin: auto;
	min-height: 60vh;
	.Toastify__toast-container--top-right {
		top: 3rem;
		right: 0;
	}
	.title {
		margin-top: 55px;
		h1 {
			text-align: center;
			padding: 20px 0;
		}
		div {
			text-align: right;
		}
	}
	.content {
		.content-wrapper {
			margin-bottom: 10px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.left {
				display: flex;
				align-items: center;

				.check {
					cursor: pointer;
					width: 20px;
					height: 20px;
				}
				.image {
					img {
						width: 100px;
						height: 100px;
					}
					padding: 0 20px;
				}
				.detail {
					.name {
						font-weight: 600;
					}
					.price {
						margin: 0;
						s {
							color: #ccc;
							padding-left: 5px;
						}
					}
					.size {
						margin-top: 5px;
					}
					.quantity {
						display: flex;
						padding-bottom: 10px;
						button {
							cursor: pointer;
							svg {
								font-size: 10px;
							}
						}
						input {
							width: 30px;
							text-align: center;
						}
					}
				}
			}
			.right {
				button {
					background: red;
					color: white;
				}
			}
		}
		.buys {
			text-align: right;
			.left {
				button {
					background: red;
					color: white;
				}
				.button {
					background: #ccc;
				}
			}
			.right {
				.button {
					display: flex;
					justify-content: right;
					.close {
						color: white;
						background-color: #007fff;
						margin-right: 10px;
					}
					.buys {
						background-color: green;
						color: white;
						svg {
							margin-right: 5px;
						}
					}
				}
			}
		}
	}
}
.modal {
	.modal-wrapper {
		border: none;
		border-radius: 20px;
		label {
			font-weight: bold;
			font-size: 15px;
		}
		h2 {
			padding-bottom: 20px;
		}
		.address {
			div {
				display: flex;
				justify-content: space-between;
				gap: 10px;
				margin: 10px;
				label {
					flex: 2;
					margin-right: 20px;
				}
				input,
				textarea {
					flex: 4;
					padding: 5px 5px;
				}
			}
		}
		.button {
			text-align: right;
			padding-top: 41px;
			button {
				margin-top: 10px;
			}
		}
	}
}
@media only screen and (max-width: 600px) {
	.cart {
		.title {
			h1 {
				font-size: 25px;
			}
		}
		.content {
			padding-top: 0;
			.content-wrapper {
				border-bottom: 1px dashed #ccc;
				.left {
					.image {
						padding-left: 0;
					}
					.detail {
						.name {
							font-size: 12px;
							margin-bottom: 0;
						}
						.size {
							margin-top: 0;
						}
					}
				}
			}
		}
	}
	.modal {
		.modal-wrapper {
			width: 80%;
			.address {
				div {
					display: block;
					input,
					textarea {
						position: absolute;
						right: 30px;
					}
					textarea {
						min-width: 165px;
					}
				}
			}
		}
	}
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
	.modal {
		.modal-wrapper {
			width: 80%;
			.address {
				div {
					display: block;
					margin: 15px 0;
					label {
						width: 30%;
					}
					input,
					textarea {
						position: absolute;
						right: 30px;
						width: 70%;
					}
					textarea {
						min-width: 165px;
					}
				}
			}
		}
	}
}
