.sandal {
	width: 95%;
	margin: 55px auto;

	.top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		select {
			min-width: 30px;
		}
		h1 {
			text-align: center;
			padding: 30px 0;
		}
	}
	.container {
		display: flex;
		width: 100%;
		.filter {
			width: 20%;
			.filter {
				width: 100%;
			}
		}
		.items {
			width: 80%;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
			gap: 20px;
		}
	}
}
@media only screen and (max-width: 600px) {
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
	/* Thiết lập kiểu cho màn hình máy tính bảng */
}
