.header {
	ul {
		list-style: none;
		li {
			cursor: pointer;
		}
	}
	width: 100%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	height: 55px;
	position: fixed;
	z-index: 10;
	background-color: #fff;
	top: 0;
	.header_wrapper {
		width: 70%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		align-items: center;
		.left {
			width: 30px;
			height: 30px;
			img {
				width: 100%;
				height: 100%;
				cursor: pointer;
			}
		}
		ul.center {
			display: flex;
			min-width: 100px;
			align-items: center;
			height: 100%;

			.search {
				.group {
					display: flex;
					line-height: 28px;
					align-items: center;
					position: relative;
					max-width: 190px;
				}

				.input {
					width: 100%;
					height: 40px;
					line-height: 28px;
					padding: 0 1rem;
					padding-left: 2.5rem;
					border: 2px solid transparent;
					border-radius: 8px;
					outline: none;
					background-color: #f3f3f4;
					color: #0d0c22;
					transition: 0.3s ease;
				}

				.input::placeholder {
					color: #9e9ea7;
				}

				.input:focus,
				input:hover {
					outline: none;
					border-color: rgba(234, 76, 137, 0.4);
					background-color: #fff;
					box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
				}

				.icon {
					position: absolute;
					left: 1rem;
					fill: #9e9ea7;
					width: 1rem;
					height: 1rem;
					cursor: pointer;
				}
			}
			.sections {
				display: flex;
				justify-content: space-between;
				li {
					padding: 0 40px;
					font-weight: 600;
					cursor: pointer;
					position: relative;
					color: #000;

					&::after {
						position: absolute;
						content: '';
						bottom: -2px;
						left: 70px;
						width: 0;
						height: 3px;
						background: red;
						transition: width 0.3s ease-out;
						transform: translateX(-50%);
						border-radius: 5px;
					}
					&:hover {
						color: red;
						&::after {
							width: 50%;
							transform: translateX(-50%);
						}
					}
				}

				.categories {
					display: flex;
					position: relative;
					.section {
						position: absolute;
						top: 21px;
						left: 0;
						width: 100%;
						display: none;
						padding-top: 18px;
						padding-left: 0;
					}
					&:hover {
						ul.section {
							display: block;
							background-color: #fff;
							// box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
							overflow: hidden;
							a {
								text-decoration: none;
								// padding: 5px 20px;
								color: #000;
								padding: 0;

								li {
									padding: 5px 20px;
									&:hover {
										background-color: #ccc;
										color: #fff;
									}
									&::after {
										display: none;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.right {
		display: flex;
		align-items: center;
		a {
			color: #000;
		}
		.cart {
			position: relative;
			.count {
				position: absolute;
				top: -10px;
				right: -7px;
				font-size: 9px;
				background-color: red;
				padding: 4px;
				border-radius: 50%;
				color: #fff;
				font-weight: bold;
			}
		}
		li.user {
			padding-left: 20px;
			position: relative;
			p {
				font-weight: 600;
			}
			img {
				width: 30px;
				height: 30px;
				border-radius: 50%;
				position: relative;
			}
			ul.profile {
				background: #fff;
				height: auto;
				position: absolute;
				top: 30px;
				width: 200px;
				padding-left: 0;
				display: none;
				padding-top: 14px;
				li {
					padding: 5px 20px;
					color: #000;
					font-weight: 600;
					&:hover {
						background: #ccc;
						color: #fff;
					}
				}
			}
			&:hover {
				ul {
					display: block;
				}
			}
		}
	}
}
@media only screen and (max-width: 600px) {
	.header {
		.header_wrapper {
			.left {
				img {
					width: 40px;
					height: 40px;
				}
			}
			ul.center {
				display: none;
			}
		}
	}
}
