.search-results {
	width: 95%;
	// display: flex;
	margin: 55px auto;
	.top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		h1 {
			text-align: center;
		}
	}
	.container {
		display: flex;
		justify-content: space-between;
		.filter-results {
			width: 20%;
			.filter {
				width: 100%;
			}
		}
		.search-item {
			width: 82%;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
			gap: 15px;
		}
	}
}
@media only screen and (max-width: 600px) {
	.search-results {
		.top {
			h1 {
				padding: 0;
			}
		}
		.container {
			display: block;
			.filter-results {
				width: 100%;
				margin-bottom: 10px;
				.filter {
					display: flex;
					justify-content: space-between;
					h4 {
						margin-bottom: 3px;
					}
				}
			}
			.search-item {
				grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
				gap: 10px;
				width: 100%;
				.product-general {
					border: 1px solid #ccc;
					border-radius: 5px;
					.item {
						.title {
							padding: 3px;

							h3 {
								margin: 5px 0;
								font-size: 13px;
							}
							p {
								font-size: 12px;
								height: 65px;
							}
							.price {
								display: flex;
								flex-direction: column;
								margin: 0;
								.cost {
									padding: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}
