.order {
	width: 95%;
	margin: auto;
	.status {
		background-color: green;
		&:hover {
			background: green;
		}
	}
	.delete {
		margin-right: 5px;
		background-color: red;
		color: #fff;
		opacity: 1;
		padding-right: 13px;
		&:hover {
			background-color: red;
			color: #fff;
			opacity: 0.8;
		}
	}
	svg {
		padding-right: 5px;
	}
}
