.sidebar {
	background: #0C2162ed;
	color: #fff;
	height: calc(100vh - 55px);
	.sidebar-wrapper {
		h1 {
			text-align: center;
			margin: 0;
		}
		ul {
			margin-top: 50px;
			list-style: none;
			width: 80%;
			li {
				display: flex;
				align-items: center;
				background-color: #fff;
				margin: 20px 0;
				cursor: pointer;
				font-weight: 700;
				color: #000;
				border-radius: 20px;
				padding: 5px 10px;
				svg {
					width: 20%;
                    height: 20%;
					margin-right: 5px;
				}
				h2{
					margin: 0;
					font-size: 20px;
				}
			}
			
		}
	}
}
