.contact {
	// margin-top: 55px;
	width: 90%;
	margin: 55px auto;
	.Toastify__toast-container--top-right {
		top: 3rem;
		right: 0;
	}
	.top {
		text-align: center;
		padding-top: 10px;
	}
	.content {
		width: 80%;
		display: flex;
		gap: 40px;
		margin: auto;
		.content-left {
			width: 50%;
			.title {
			}
			.store {
				img {
					width: 100%;
					max-height: 260px;
				}
			}
		}

		.content-right {
			width: 50%;

			.title {
			}
			p {
				margin: 0;
				padding-top: 5px;
			}
			input,
			textarea {
				width: 100%;
				margin-bottom: 5px;
			}
			textarea {
				min-height: 50px;
			}
			Button {
				background-color: #000;
				color: #fff;
				svg {
					padding-right: 5px;
				}
			}
		}
	}
}
@media only screen and (max-width: 600px) {
	.contact {
		.Toastify__toast-container--top-right {
			top: 3rem;
			right: 0;
			// width: 50%;
		}
		width: 95%;

		.content {
			width: 100%;
			padding-top: 10px;
			gap: 10px;
			.content-left {
			}
			.content-right {
				margin-left: 5px;
				button {
					font-size: 10px;
				}
			}
		}
	}
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
	.contact {
		.Toastify__toast-container--top-right {
			top: 3rem;
			right: 0;
			// width: 50%;
		}
		width: 95%;

		.content {
			width: 100%;
			padding-top: 10px;
			gap: 10px;
			.content-left {
			}
			.content-right {
				margin-left: 5px;
				p {
					padding-bottom: 5px;
				}
				button {
					font-size: 10px;
				}
			}
		}
	}
}
