.login {
	height: 90vh;
	// background-color: #ccc;
	background-image: url('https://sneakerdaily.vn/wp-content/uploads/2022/10/nhung-doi-giay-dep-5.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	.login-wrapper {
		min-width: 30%;
		height: 70%;
		// background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
		background-color: #fff;
		border-radius: 40px;
		display: flex;
		align-items: center;
		color: #000;
		.main {
			padding: 20px 10px;
			margin: 0 auto;
			width: 70%;
			display: flex;
			flex-direction: column;
			align-items: center;
			img {
				width: 100px;
				height: 100px;
				border-radius: 50%;
			}
			form {
				width: 100%;
				div {
					margin: 20px 0;
					width: 100%;
					display: flex;
					border-bottom: 1px solid #000;
					align-items: center;
					input {
						border: none;
						outline: none;
						width: 100%;
						padding: 10px 0;
						padding-left: 5px;
						background: transparent;

						&::placeholder {
							color: #000;
						}
					}
				}
				p {
					text-align: right;
					a {
						text-decoration: none;
						color: #000;

						font-size: 14px;
					}
				}
				button {
					padding: 15px 0;
					width: 100%;
					cursor: pointer;
					border: none;
					border-radius: 30px;
					color: #fff;
					font-weight: bold;
					font-size: 16px;
					background-color: #047e30;
					opacity: 1;
					// background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
					&:hover {
						// background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
						color: #fff;
						opacity: 0.9;
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 600px) {
	.login {
		.login-wrapper {
			width: 80%;
		}
	}
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
	/* Thiết lập kiểu cho màn hình máy tính bảng */
	.login {
		.login-wrapper {
			width: 60%;
		}
	}
}
