.filter {
	margin-right: 20px;
	.trademark,
	.price {
		div {
			input {
				cursor: pointer;
			}
			span {
				padding-left: 5px;
			}
		}
	}

	.size {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: 10px;
		button {
			cursor: pointer;
		}
	}
}
