.register {
	height: 90vh;
	background-image: url('https://sneakerdaily.vn/wp-content/uploads/2022/10/nhung-doi-giay-dep-5.jpg');
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	.register-wrapper {
		width: 30%;
		height: auto;
		border-radius: 40px;
		display: flex;
		align-items: center;
		color: #000;
		background-color: #fff;
		.main {
			padding: 20px 10px;
			margin: 0 auto;
			width: 70%;
			display: flex;
			flex-direction: column;
			align-items: center;
			img {
				width: 100px;
				height: 100px;
				border-radius: 50%;
			}
			form {
				width: 100%;
				div {
					margin: 20px 0;
					width: 100%;
					display: flex;
					border-bottom: 1px solid #000;
					align-items: center;
					input {
						border: none;
						outline: none;
						width: 100%;
						padding: 10px 0;
						padding-left: 5px;
						background: transparent;
						// color: #fff;
						&::placeholder {
							color: #000;
						}
					}
				}
				p {
					text-align: right;
					a {
						text-decoration: none;
						color: #000;

						font-size: 14px;
					}
				}
				button {
					padding: 15px 0;
					width: 100%;
					cursor: pointer;
					border: none;
					border-radius: 30px;
					color: #fff;
					font-weight: bold;
					font-size: 16px;
					background-color: #047e30;
					opacity: 1;
					&:hover {
						background-color: #047e30;
						opacity: 0.9;
						color: #fff;
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 600px) {
	.register {
		.register-wrapper {
			width: 80%;
		}
	}
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
	/* Thiết lập kiểu cho màn hình máy tính bảng */
	.register {
		.register-wrapper {
			width: 60%;
		}
	}
}
