.register {
	height: 100vh;
	background-image: url('https://fado.vn/blog/wp-content/uploads/2019/09/giay-sneaker-la-gi.jpg');
	display: flex;
	align-items: center;
	justify-content: center;
	.register-wrapper {
		width: 30%;
		height: 70%;
		background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
		border-radius: 40px;
		display: flex;
		align-items: center;
		color: #fff;
		.main {
			padding: 20px 10px;
			margin: 0 auto;
			width: 70%;
			display: flex;
			flex-direction: column;
			align-items: center;
			img {
				width: 100px;
				height: 100px;
				border-radius: 50%;
			}
			form {
				width: 100%;
				div {
					margin: 20px 0;
					width: 100%;
					display: flex;
					border-bottom: 1px solid #fff;
					align-items: center;
					input {
						border: none;
						outline: none;
						width: 100%;
						padding: 10px 0;
						padding-left: 5px;
						background: transparent;
						color: #fff;
						&::placeholder {
							color: #fff;
						}
					}
				}
				p {
					text-align: right;
					a {
						text-decoration: none;
						color: #fff;
						font-size: 14px;
					}
				}
				button {
					padding: 15px 0;
					width: 100%;
					cursor: pointer;
					border: none;
					border-radius: 30px;
					color: #fff;
					font-weight: bold;
					font-size: 16px;
					background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
					&:hover {
						background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
						color: #fff;
					}
				}
			}
		}
	}
}
